{{#if isAdding}}
  <h2>Adding new post</h2>
  <form class="ui form">
    <div class="field">
      <label>Post Title</label>
      {{input type="text"  value = title placeholder="add title"}}
    </div>
    <div class="field">
      <label>Post Body</label>
      {{input type="text" value = body placeholder="add body"}}
    </div>

    <button class="ui button" {{action 'savePost'}}>Save</button>
    <button class="ui button" {{action 'cancelPost'}}>Cancel</button>
  </form>
{{else}}
  <button class="ui button" {{action 'addNewPost'}}>
    Add new post
  </button>
{{/if}}

