{{outlet}}

<br><br>
<form class="ui form">

    <div class="ui stackable two column grid container">
        <div class="column"> 
            <div class="ui stackable three column grid">
                <div class="column "> <label> Student Number: </label> </div>
                <div class="six wide column "> <input type="number" name="student-num" placeholder="Student Number"  value="{{model.number}}"> </div>
            </div>
            <div class="ui stackable three column grid">
                <div class="column "> <label> First Name: </label> </div>
                <div class="eight wide column "> <input type="text" name="first-name" placeholder="First Name" value="{{model.firstName}}"> </div>
            </div>
            <div class="ui stackable three column grid">
                <div class="column "> <label> Last Name: </label> </div>
                <div class="eight wide column "> <input type="text" name="last-name" placeholder="Last Name" value="{{model.lastName}}"> </div>
            </div>
            <div class="ui stackable three column grid">
                <div class="column "> <label> Date of Birth: </label> </div>
                <div class="ten wide column "> <input type="text" name="dob" placeholder="Date of Birth" value="{{model.DOB}}"> </div>
            </div>
            <div class="ui stackable three column grid">
                <div class="column "> <label> Residency: </label> </div>
                <div class="ten wide column">
                    <select value="{{model.residency}}" class="ui dropdown">
                        <option value="">Residency</option>
                        <option value="1">Canadian/Native</option>
                        <option value="0">International</option>
                        <option value="2">Permanent</option>
                    </select>
                </div>
            </div>
            <div class="ui stackable three column grid">
                <div class="column "> <label> Gender: </label> </div>
                <div class="six wide column">  
                    <select value="{{model.gender}}" class="ui dropdown">
                        <option value="">Gender</option>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                        <option value="2">Other</option>
                    </select>
                </div>
            </div>

            <br> <br>
            <div class="ui stackable column"> 
                <div class="sixteen wide column"> <button class="ui button" type="submit"> Submit </button> </div>
            </div>
        </div>
        <div class="column">
            <div class="ui stackable centered two column grid">
                <div class="column"> </div>
            </div>
            <div class="ui stackable centered two column grid">
                <div class="column"> </div>
            </div>
            <div class="ui stackable three column grid">
                <div class="right floated ten wide column" style="border: 1px solid black;">
                {{#if model.gender}}
                    <img src="/assets/images/femalestudent.png">
                {{/if}}
                  {{!--{{#if !model.gender}}
                    <img src="/assets/images/malestudent.png">
                {{/if}}--}}
                </div>
            </div>
        </div>
    </div>

</form>
